<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}newbubble.css" type="text/css" />
    <title>{% block title %}Quotes!{% endblock %}</title>
</head>
<body>
    <div class="header">
        {% block header %}
        {% endblock header %}
    </div>

    {% block sidebar %}
    {% endblock sidebar %}

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html>
