{% extends "base.html" %}


{% block sidebar %}
<div class="person-info">
    <img src="{{ STATIC_URL }}bgnarrow.png">
</div>
{% endblock sidebar %}

{% block content %}
<div class="bubbleleft">
<div class="bubbleright">
<div class="bubbletop">
<div class="bubblebottom">
    <div class="roundtop">
        <img src="{{ STATIC_URL }}bubble/bubble-top-left.png" class="corner" />
    </div>

    <p>
    Give me a new quote!
    </p>
    
    <table id="submissionform">
        <tr><td></td><td><h2>Submit a new quote</h2></td></tr>
        <form method="POST" action="/quotes/submit/">
            {% csrf_token %}
            {{ form }}
            <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </form>
    </table>

    <div class="roundbottom">
        <img src="{{ STATIC_URL }}bubble/bubble-bottom-left.png" class="corner" />
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}
